body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-image: url('./background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  width: 60%;
  /* height: 70%; */
  padding: 1.5vw;
  background: rgb(100, 5, 5);
  color: #fff;
  text-align: center;
}

.gift-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.banner-img {
  width: 40%;
  height: 40%;
}

.gift-info {
  width: 50%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gift-info h3 {
  font-size: 2vw;
}

.gift-info::before {
  position: absolute;
  left: -10vw;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  content: '';
  background-image: url('./santa-hat.png');
  background-size: 10vw 10vw;
}

.gift-info::after {
  position: absolute;
  right: -10vw;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  content: '';
  background-image: url('./santa-head.png');
  background-size: 10vw 10vw;
}

.deadline {
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  /* width: 50%; */
}

.deadline-format {
  margin: 1.5vw;
  padding: .5vw;
  width: 5vw;
  background: rgb(233, 233, 233);
  color: rgb(197, 16, 16);
  border-radius: 2vw;
  box-shadow: 0 0 10px 5px #fff;
}

.deadline-format div h4 {
  margin: 1vw 0;
  font-size: 3vw;
  font-weight: 600;
}

.deadline-format div span {
  font-size: 2vw;
  font-weight: 600;
}